#include "OpenGLPP_ObjectPicking.h"

// bitmap
IDBITMAP_KUNDALI	BITMAP DISCARDABLE "Vijay_Kundali.bmp"
IDBITMAP_STONE		BITMAP DISCARDABLE "Stone.bmp"
IDBITMAP_WOOD		BITMAP DISCARDABLE "wood.bmp"
IDBITMAP_BRICKWALL  BITMAP DISCARDABLE "brickWall.bmp"
IDBITMAP_FABRIC		BITMAP DISCARDABLE "fabric.bmp"
IDBITMAP_FLOOR		BITMAP DISCARDABLE "grayFloor.bmp"